body {
    font-size: 125%;
    background-color: #D0DAA5;
    font-family: 'Akshar', sans-serif;
}
header, main, footer {
    width: 40em;
    max-width: 98%;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
}
nav ul.open {
    opacity: 1;
    height: auto;
}
nav a:link {
    text-decoration: none;
    display: block;
    font-weight: 700;
    padding: 0.5em 1em;
    background-color: #D0C2BF;
    color: green;
    border: 1px solid black;
}
nav a:hover {
    background-color: #F5F5F5;
    color: #161617;
}
a:link {
    color: #161617;
}
a:visited {
    color: green;
}
a:hover {
    color: #5656D7;
}
a:active {
    color: #161617;
}
a:current {
    background-color: #D0C2BF;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
 /* navbar toggle */
 #menu-toggle {
     width: 2em;
     height: 2em;
     border-radius: 2em;
     transition: all 0.3s;
 }
 #menu-toggle:hover {
     background-color: #D0C2BF;
 }
 #menu-toggle div {
     width: 50%;
     height: 3px;
     background-color: #161617;
     margin: 4px auto;
     transform: translateY(12px);
 }
  /* tablet view and up */
 @media only screen and (min-width: 690px) {
     nav ul {
         flex-direction: row;
     }
     #menu-toggle {
         opacity: 0;
         height: 0;
         width: 0;
     }
 }
